.card-component{
    margin: 40px;
}

.Card-btn{
    width: 300px;
    margin: 10px 0px 0px 20px;
}

.Card-btn .link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-right: 10px;
}

.card-details{
    padding: 20px;
}

.grandTotal{
    padding-top: 20px;
}

.card-header{
    text-align: center;
}

.cartAmount{
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;
    color: rgb(39, 39, 39);
}