.loginForm{
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    margin-top: 20px;
}

.auth-container{
    width: 50%;
}

.ToggleLine{
    text-align: center;
    padding-top: 10px;
}

.OptionalAuthBtn{
    width: 150px;
    margin-right: 10px;
}